{% load static %}
<!-- Scripts -->
<script src="{% static "assets/js/jquery.min.js" %}"></script>
<script src={% static "assets/js/bootstrap.min.js" %}></script>
<script src="{% static "assets/js/interface.js" %}"></script>
<!--bootstrap-slider-JS-->
<script src="{% static "assets/js/bootstrap-slider.min.js" %}"></script>
<!--Slider-JS-->
<script src="{% static "assets/js/slick.min.js" %}"></script>
<script src="{% static "assets/js/owl.carousel.min.js" %}"></script>
<script src="{% static "assets/js/myjs.js" %}"></script>
