{% load static %}
<!--Bootstrap -->
    <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}" type="text/css">
    <!--Custome Style -->
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}" type="text/css">
    <!--OWL Carousel slider-->
    <link rel="stylesheet" href="{% static "assets/css/owl.carousel.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "assets/css/owl.transitions.css" %}" type="text/css">
    <!--slick-slider -->
    <link href="{% static "assets/css/slick.css" %}" rel="stylesheet">
    <!--bootstrap-slider -->
    <link href="{% static "assets/css/bootstrap-slider.min.css" %}" rel="stylesheet">
    <!--FontAwesome Font Style -->
    <link href="{% static "assets/css/font-awesome.min.css" %}" rel="stylesheet">

    <!-- Custom Colors -->
    <link rel="stylesheet" href="{% static "assets/colors/red.css" %}">
    <!--<link rel="stylesheet" href="assets/colors/orange.css">-->
    <!--<link rel="stylesheet" href="assets/colors/blue.css">-->
    <!--<link rel="stylesheet" href="assets/colors/pink.css">-->
    <!--<link rel="stylesheet" href="assets/colors/green.css">-->
    <!--<link rel="stylesheet" href="assets/colors/purple.css">-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{% static "assets/images/favicon-icon/apple-touch-icon-144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{% static "assets/images/favicon-icon/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{% static "assets/images/favicon-icon/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "assets/images/favicon-icon/apple-touch-icon-57-precomposed.png" %}">
    <link rel="shortcut icon" href="{% static "assets/images/favicon-icon/favicon.png" %}">
    <!-- Google-Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
{#    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>#}
{#    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>#}
    <![endif]-->